.container {
  background: yellow;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  justify-content: center;
  align-items: center;
  /* margin-top: 150px; */
}

h1 {
  position: absolute;
  align-items: center;
  text-align: center;
  top: -50px;
  font-size: 60px;
}

.container label {
  /* position: absolute; */
  /* text-align: center; */
  /* text-align: center; */
  color: red;
}

.container .input-label {
  color: green;
}
input {
  align-items: center;
  display: flex;
  /* padding: 5px 0 5px 100px; */
  /* width: 20vw; */
  /* height: 3vh; */
  justify-content: space-between;
  margin-top: 50px;
  font-size: 20px;
}
/* 
text {
  display: flex;
  color: red;
} */

button {
  margin-top: 50px;
  font-size: 30px;
  align-self: center;
}
