/* 
.container {
  background-color: azure;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.bg {
  /* background: linear-gradient(to right, #84ceeb, #5680e9); */
  /* background: linear-gradient(to right, #84ceeb, #2f2fa2); */
  /* background: linear-gradient(to right, #003973, #e5e5be); */
  /* background: linear-gradient(to right, #36d1dc, #5b86e5); */
  background-color: rgb(122, 175, 219);
  /* background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); */
  height: 100vh;
  background-image: url("/city3.jpg");
  background-repeat: no-repeat;
  background-size: initial;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between !important;
}

h1 {
  position: absolute;
  align-items: center;
  text-align: center;
  top: -50px;
  font-size: 60px;
  font-family: "Krub";
}

.jumbotron {
  /* background-color: #84ceeb !important; */
  background-color: rgba(157, 169, 179, 0.2) !important;
}

.row {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  width: 70%;
  margin: 70px;
}

#img-col {
  display: flex !important;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.form-label {
  color: white;
}

#logo-title {
  /* width: 100px; */
  width: 461px;
  height: 129px;
  /* margin: auto; */
}

#icon {
  width: 150px;
}

.input-group {
  width: 80% !important;
  justify-content: center;
  font-family: "Krub" !important;
}

.inputs {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.input-group-prepend {
  font-family: "Krub" !important;
}
/* input {
  align-items: center;
  display: flex;

  justify-content: space-between;
  margin-top: 50px;
  font-size: 20px;
} */

.btn {
  font-family: "Krub";
  /* background-color: blue !important; */
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  width: 80% !important;
}
/* button {
  margin-top: 50px;
  font-size: 30px;
  align-self: center;
} */
