* {
  /* background-color: palegoldenrod; */
  font-family: "Krub";
  text-decoration: none;
  padding: 0;
}

/* 
#userDetails-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#userDetails-container .row {
  padding: 0px;
  width: 300px;
}

h1 {
  display: block;
  margin: auto;
}
*/

/* #userDetails-container h1 {
  display: block;
  margin: auto;
  top: 50px;
} */

.form.userDetails {
  align-items: center;
  justify-content: center;
}
*/ .widgets-page h1 {
  display: block;
  top: 150px;
  line-height: 100px;
  background-color: red !important;
}

/*-------------------TABLE-----------------------*/

.jumbotron#filter {
  /* padding-top: -50px;
  padding-bottom: -50px;  */
  height: 90px;
  display: flex;
  align-items: center;
  margin-top: 150px;
}
/* .widgets-page {
  display: flex;
  flex-direction: column;
  padding: 0px 50px 0 50px;
} */

.table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 100%;
}

th {
  color: black;
  font-weight: bold;
  font-size: 20px;
}
tr:hover {
  background-color: #f2f2f2;
}

.btn-logo {
  width: 30% !important;
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.btn-new-user {
  margin-top: 150px;
  width: 30% !important;
  /* transition-duration: 0.5s;
  transition-property: width; */

  -webkit-transition: background-color 1s ease-in-out;
  /* -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease; */
  /* transition: width 1s ease; */
}

.btn-new-user:hover {
  /* animation-name: create-new-user;
  animation-duration: 0.5s; */
  background-color: green !important;
  /* -webkit-transition: background-color 1s ease-in-out; */

  /* transition-property: width;
  transition-duration: 0.5s; */
}

.btn-logo img {
  width: 30px;
  height: 30px;
  /* transition-duration: 0.2s; */
  -webkit-transition: 0.2s;
}

.btn-logo img:hover {
  /* width: 35px; */
  /* margin-left: -30px;
  margin-right: -30px; */
  width: 35px;
  height: 35px;
  transform: rotate(20deg);
}

#logout-button {
  width: 10% !important;
  float: right;
  margin-right: 50px;
  -webkit-transition: background-color 0.5s;
}

#logout-button:hover {
  background-color: #ff0000;
}

@keyframes create-new-user {
  from {
    width: 30% !important;
  }

  to {
    width: 70% !important;
  }
}

.filters {
  /* position: absolute; */
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  /* background-color: lightgray; */
  width: 100%;
  height: 20%;
  /* justify-content: flex-start; */
}
.filter-group {
  display: flex;
  justify-content: flex-start;
  margin: 0px;
  /* background-color: #fff; */
  /* height: 600px;
  width: 600px; */
  /* margin-right: auto; */
  /* margin-left: auto;
  margin-top: 0px; */
  text-align: left;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  padding-left: 10px;
  /* text-align: center; */
  /* padding: 20px; */
  /* background-color: red; */
  align-items: center;
}

label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #333;
  height: 20px;
  width: 200px;
  margin-top: 40px;
  /* margin-left: -50px; */
  text-align: left;
  /* margin-right: 15px; */
  /* width: 200px; */
  justify-content: flex-start;
  padding-left: 0px;
  /* background-color: lightgreen; */
}
/* 
#checkbox {
  margin-left: 50px;
} */

/* input,
#checkbox {
  height: 20px;
  width: 300px;
  border: 1px solid #000;
  margin-left: -100px;
  margin-top: 42px;
} */
